<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Pagamento</title>
</head>

<body>

    <h1>Pagamento</h1>

    <h2>Plano escolhido: {{ nome_plano }}</h2>

    <h3>Valor: R$ {{ preco }}</h3>

    <p>
        Esta é uma simulação de pagamento.
    </p>

    <form method="POST" action="/pagamento">
        <button type="submit">
            Simular pagamento
        </button>
    </form>

</body>

</html>